@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}


.bg h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html {
  height: 100%;
}


.form{
  background-color: #ffff;
  text-align: center;
  width: 420px  ;
  height: 400px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 10px 55px 45px 55px;
  border-radius: 15px;
  position: relative;
  margin-Bottom: 20;
}

.bg{
  display: flex;
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
  height: 88vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.pages-header{
  margin-top: -2rem;
  color: #ffff;
  border: 1.5px solid #E4E4E4;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  width: 150px;
  height: 50px;
}
.mb-6{
  padding-top: 40px;
}
.p-inputgroup{
  justify-content: center;
}