body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
.menu{
    background: #1565C0;
    width: 100%;
    height: 70px;
    display: flex;
}
.menu span.p-menuitem-icon.pi.pi-users{
    color: white !important;
}
.menu span.p-menuitem-text{
    color: white !important;
}
.menu svg {
    color: white;
}
.menu ::before{
    color: white;
}
.login{
    border-radius: 15px;
    background: #f7f8f9;
    background-size: 30px;
    width: 115px;
    font-size: 30px;
}
.p-menubar .p-menuitem-link {
    font-size: 20px;
}
.p-menuitem topbar-right{
    justify-content: end;
}
.p-menuitem-link{
    justify-content: right;
}
.logout{
    position: absolute !important;
    right: 30px;
}
@media (max-width: 960px){
    .p-menubar.p-menubar-mobile-active .p-menubar-root-list  {
    display: flex;
    flex-direction: column;
    top: 100%;
    background: #a9a9e5;
    left: 0;
    z-index: 1;
    float: left;
    }
    .logout{
        position: static !important; 
    }
    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link{
        float: left;
    }
}
