.datedata{
    width: 200px;
}
.card1{
    margin-top: 1rem;
    margin-right: 1rem;
    border: 2px;
    width: 650px;
    border-top-color: aqua;
  }
.radiobutton{
    margin-left: 1rem;
}
.card2{
    margin-top: 1rem;
    margin-right: 1rem;
    border: 2px;
    border-top-color: aqua;
  }