.Submit{
  justify-content: center;
  padding-top: 20px;
}
.info{
    justify-content: center;
    padding-top: 20px;
}
.contract{
    justify-content: center;
    padding-top: 20px;
}
.Infor{
  border: 10px ;
}
.credit{
  border: 10px;
  width: 600px;
}