@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,label {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html {
  height: 100%;
}

.background{
    margin-top: 50px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.pages-header{
  margin-top: -2rem;
  color: #ffff;
  border: 1.5px solid #E4E4E4;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  width: 150px;
  height: 50px;
}
.mb-6{
  padding-top: 30px;
}
.p-inputgroup{
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 260px;

}
.choose{
  margin-top: 60px;
    margin-bottom: 20px;
}
.d-grid{
    margin-top: 20px;
}
