.id{
    width: 3.5rem;
}

.Header{
    display: flex;
    justify-content: center;
}
.card{
    padding-top: 20px;
    padding-left: 20px;
    width: 1200px;
    padding-right: 30px;
    
    justify-content: center;
}
.Information{
    padding-top: 50px;
}
.Address{
    padding-top: 50px;
}
.Document{
    padding-top: 50px;
}
.Contact{
    padding-top: 50px;
}
.Contract{
    padding-top: 50px;
}
.datatable-filter{
    padding-top: 30px;
    padding-left: 30px;
}

@media screen and (max-width: 1000px) {
    .card{
        width: 800px;
    }
}
@media screen and (max-width: 867px) {
    .card{
        width: 700px;
    }
}
@media screen and (max-width: 700px) {
    .card{
        width: 600px;
    }
}
@media screen and (max-width: 600px) {
    .card{
        width: 500px;
    }
}

span.money {
    font-weight: 100;
}