@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family:  Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  @import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

